[submodule "rnat-distribution-tool"]
	path = rnat-distribution-tool
	url = git@github.com:flare-foundation/rnat-distribution-tool.git
[submodule "cyclo.rewards"]
	path = cyclo.rewards
	url = git@github.com:cyclofinance/cyclo.rewards.git
